@font-face {
    font-family: GoldmanB;
    src: url("/src/public/fonts/Goldman-Bold.ttf");
}

@font-face {
    font-family: GoldmanR;
    src: url("/src/public/fonts/Goldman-Regular.ttf");
}

@font-face {
    font-family: Norm;
    src: url("font/Bowler.ttf");
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("fon.jpg");
    background-size: cover; /* Растянуть изображение на весь экран */
    background-position: center; /* Центрировать изображение */
    background-repeat: no-repeat; /* Запретить повторение */
    height: 100vh; /* Занимать всю высоту экрана */
}

.container-fluid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: GoldmanB, serif;
    text-align: center;
    font-size: 2.4rem;
    color: black;
}

.container {
    text-align: center;
}

#canvasId {
    border-radius: 10px;
    margin-right: 30px;
}

#canvasStats {
    border: solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    font-family: GoldmanB, serif;
    font-size: 1rem !important;
    width: 60%;
    color: black !important;
    margin-top: 15px !important;
    background-color: #6b6b6b !important;
    border: 0 !important;
}

a:hover {
    background-color: transparent !important;
    color: rgb(255, 255, 255) !important;
}
